@tailwind base;
@tailwind components;
@tailwind utilities;


/* .highlight:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    background: rgba(255, 255, 0, 0.3);
    animation-name: highlightAnimation;
    animation-duration: 2s;
}

@keyframes highlightAnimation {
    0% {
        width: 0;
        opacity: 0;
    }

    50% {
        width: 100%;
        opacity: 1;
    }

} */




.highlight {
    background-size: 100% 100%;
    background-position-y: 100%;
    background-image: linear-gradient(rgb(255, 255, 155), rgb(255, 255, 155));
}

.highlight.l-to-r {
    background-size: 0% 100%;
    background-position-x: 0%;
}

.highlight.l-to-r:hover {
    background-size: 100% 100%;
}





/* ==== MODIFICATIONS ====  */
.underline.gradient {
    background-image: linear-gradient(120deg, rgb(72, 105, 218), rgb(72, 206, 218));
}

.underline.strike {
    background-position-y: 50%;
}

.underline.red {
    background-image: linear-gradient(120deg, rgb(255, 50, 50), rgb(255, 100, 100));
}

.highlight.light-blue {
    background-image: linear-gradient(120deg, rgb(100, 230, 240), rgb(150, 200, 255));
}

.highlight.pink {
    background-image: linear-gradient(rgb(255, 190, 220), rgb(255, 190, 220));
}

.highlight.green {
    background-image: linear-gradient(rgb(133, 255, 141), rgb(133, 255, 141));
}

.highlight.gradient {
    background-image: linear-gradient(120deg, rgb(255, 150, 200), rgb(255, 190, 100));
}

