name: Build and Push Docker Image (Staging)

on:
  push:
    branches:
      - staging

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image (Staging)
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/with-wings-and-roots/wwar-homepage:staging
          build-args: |
              NEXT_PUBLIC_CMS_URL=${{ vars.NEXT_PUBLIC_CMS_URL }}
              PUBLIC_URL=${{ vars.PUBLIC_URL }}
              BREVO_API_KEY=${{ vars.BREVO_API_KEY }}